<% if @suggestions %>
  <div>
    <h1>Who to Follow</h1>
    <div class="list-group">
      <% suggestions.each_with_index do |suggestion, index| %>
        <%= link_to "#{index+1}. @#{suggestion.name}", user_path(suggestion), class: "list-group-item list-group-item-action" %>
      <% end %>
    </div>
  </div>
<% end %>