<%= render 'layouts/main' do %>
  <div class="col-3">
    <%= render 'shared/trend', hashtags: hashtags%>
  </div>
  <div class="col-6">
    <%= yield %>
  </div>
  <div class="col-3">
    <%= render 'shared/suggestion', suggestions: suggestions %>
  </div>
<% end %>